/*
By default, the site you build with this optimized for min-width of 360px.
From here, just scale upwards/re-align elements as need be.
This site structure assumes a mobile-first approach, hence the use of min-width

$breakpoint argument choices:
- tab-port (tablet-portrait)
- tab-land (tablet-landscape)
- laptop (standard laptop screen resolution)
- desktop (standard desktop screen resolution)
- desktop-lg (1440p resolution desktop)
- desktop-4k (4k resolution desktop)

** MIN-WIDTH SETTINGS **
- mobile-lg == min-width 576px
- tab-port == min-width 768px
- tab-land == min-width 1024px
- laptop == min-width 1366px
- desktop == min-width 1920px
- desktop-lg == min-width 2560px
- desktop-4k == min-width 3840px

1em = 16px (16px is the default browser font-size)
Each em amount is the min-width listed above divided 16
For example, for tab-port, 768px / 16px = 48em
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* Equivalent to 10px */
  scroll-behavior: smooth;
}

@media only screen and (min-width: 36em) {
  html {
    font-size: 65.65%;
  }
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 68.75%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 85.375em) {
  html {
    font-size: 81.25%;
  }
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 240em) {
  html {
    font-size: 112.5%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  line-height: 1.45;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 3.25rem;
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 45ch;
  /* These character lengths are based on recommended line length for maximum clarity, readability and proportion in print

    These recommendations are based on a number of factors, such as:
    - How people tend to read.
    - The ease or difficulty in following a line to the end and bringing your eye back to the start of the next line.
    - Quickly understanding the relative importance of various levels of headings between blocks of copy.

    Read more about it here:
    https://typecast.com/blog/a-more-modern-scale-for-web-typography
    */
  font-size: 1.5rem;
}

@media only screen and (min-width: 85.375em) {
  p {
    max-width: 70ch;
  }
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section-heading {
  font-family: "Cinzel", serif;
  margin-bottom: 1.5rem;
}

.section-heading-span {
  font-size: 3.75rem;
}

.section-heading-light {
  color: #d8d8d8;
  margin-bottom: 2.75rem;
}

@media only screen and (min-width: 48em) {
  .section-heading-light {
    font-size: 4rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-center {
  margin: 0 auto;
}

.music-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.music-box-icon:link, .music-box-icon:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #181818;
  border-radius: 50%;
  color: #181818;
  margin-left: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

@media only screen and (min-width: 48em) {
  .music-box-icon:link, .music-box-icon:visited {
    font-size: 1.75rem;
    height: 3.75rem;
    width: 3.75rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 85.375em) {
  .music-box-icon:hover, .music-box-icon:active, .music-box-icon:focus {
    -webkit-transition: all 250ms;
    transition: all 250ms;
    background-color: #181818;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    color: #ef4d4b;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.music-box-icon-light:link, .music-box-icon-light:visited {
  border: 1px solid #d8d8d8;
  color: #d8d8d8;
}

@media only screen and (min-width: 85.375em) {
  .music-box-icon-light:hover, .music-box-icon-light:active, .music-box-icon-light:focus {
    background-color: #d8d8d8;
    color: #000;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.music-box-icon-preview:link, .music-box-icon-preview:visited {
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1.75rem;
  height: 3.5rem;
  width: 3.5rem;
}

.button {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: none;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.button-dark {
  color: #181818;
  background-color: transparent;
  border: 5px solid #181818;
}

@media only screen and (min-width: 85.375em) {
  .button-dark:hover, .button-dark:active, .button-dark:focus {
    background-color: #181818;
    color: #eee;
    letter-spacing: 1px;
  }
}

.button-light {
  background-color: transparent;
  border: 5px solid #d8d8d8;
  color: #d8d8d8;
}

@media only screen and (min-width: 85.375em) {
  .button-light:hover, .button-light:active, .button-light:focus {
    background-color: #d8d8d8;
    color: #000;
    letter-spacing: 1px;
  }
}

.gallery {
  margin: 0 auto;
  padding: 3rem 2rem;
}

@media only screen and (min-width: 85.375em) {
  .gallery {
    padding: 3rem;
  }
}

@media only screen and (min-width: 120em) {
  .gallery {
    padding: 3rem 6rem;
  }
}

.gallery-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: .75rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

@media only screen and (min-width: 85.375em) {
  .gallery-wrapper {
    grid-gap: 3rem;
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

@media only screen and (min-width: 85.375em) {
  .gallery-img {
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .gallery-img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-list {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 36em) {
  .nav-list {
    font-size: 1.75rem;
  }
}

.nav-list-option {
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

@media only screen and (min-width: 85.375em) {
  .nav-list-option {
    margin-left: .5rem;
  }
}

.nav-list-span {
  font-size: 1.75rem;
}

@media only screen and (min-width: 36em) {
  .nav-list-span {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 85.375em) {
  .nav {
    background-color: rgba(24, 24, 24, 0.5);
    padding-right: 2rem;
  }
}

.albums {
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: #000;
}

@media only screen and (min-width: 36em) {
  .albums {
    padding: 3rem 6rem;
  }
}

@media only screen and (min-width: 120em) {
  .albums {
    padding: 4rem 10rem;
  }
}

@media only screen and (min-width: 64em) {
  .albums-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.albums-box:not(:last-child) {
  margin-bottom: 5rem;
}

.albums-cover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media only screen and (min-width: 85.375em) {
  .albums-cover {
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .albums-cover:hover {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
}

.albums-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.albums-text-box-heading {
  color: #d8d8d8;
  font-family: "Cinzel", serif;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

@media only screen and (min-width: 36em) {
  .albums-text-box-heading {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 48em) {
  .albums-text-box-heading {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 64em) {
  .albums-text-box-heading {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 85.375em) {
  .albums-text-box-heading {
    font-size: 2.5rem;
  }
}

.albums-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d8d8d8;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.footer {
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: #9b2a29;
  color: #d8d8d8;
}

@media only screen and (min-width: 48em) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav {
  margin: 4rem 0;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .footer-nav {
    margin-right: 5rem;
    text-align: left;
  }
}

.footer-nav-list-link:link, .footer-nav-list-link:visited {
  color: #d8d8d8;
  font-size: 1.75rem;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

@media only screen and (min-width: 85.375em) {
  .footer-nav-list-link:hover, .footer-nav-list-link:active, .footer-nav-list-link:focus {
    color: #181818;
    letter-spacing: 1px;
  }
}

.footer-nav-list-icon {
  margin-right: 0.75rem;
}

.footer-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.footer-copyright {
  margin: 0 auto;
  text-align: center;
}

.header {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  color: #181818;
  height: 100vh;
  position: relative;
}

.header-box-img {
  margin-left: 3rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media only screen and (min-width: 36em) {
  .header-box-img {
    margin-left: 6.5rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 48em) {
  .header-box-img {
    margin: 5rem 0 0 7.5rem;
  }
}

@media only screen and (min-width: 64em) {
  .header-box-img {
    margin: -1rem 0 0 17.5rem;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media only screen and (min-width: 85.375em) {
  .header-box-img {
    margin-left: 35rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 120em) {
  .header-box-img {
    margin-left: 60rem;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

.header-box-heading {
  font-family: "Cinzel", serif;
  font-size: 3.75rem;
}

@media only screen and (min-width: 48em) {
  .header-box-heading {
    font-size: 4.25rem;
  }
}

.header-box-text-box {
  float: right;
  padding: 0 2rem;
  text-align: right;
  width: 85%;
}

@media only screen and (min-width: 48em) {
  .header-box-text-box {
    padding-right: 2.75rem;
    width: 65%;
  }
}

@media only screen and (min-width: 64em) {
  .header-box-text-box {
    padding-right: 4rem;
    width: 50%;
  }
}

@media only screen and (min-width: 120em) {
  .header-box-text-box {
    padding-right: 4rem;
    width: 100%;
  }
}

.merch {
  margin: 0 auto;
  padding: 3rem 2rem;
  background: #000;
}

.merch-gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: .75rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2.5rem;
}

@media only screen and (min-width: 85.375em) {
  .merch-gallery {
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.merch-gallery-img {
  margin: 0 auto;
}

@media only screen and (min-width: 85.375em) {
  .merch-gallery-img {
    -webkit-transition: all 250ms;
    transition: all 250ms;
  }
  .merch-gallery-img:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.merch-gallery-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merch-gallery-button-end {
  margin: 5rem 0 0 0;
}

.preview {
  margin: 0 auto;
  padding: 3rem 2rem;
}

@media only screen and (min-width: 36em) {
  .preview {
    padding: 3rem 6rem;
  }
}

@media only screen and (min-width: 120em) {
  .preview {
    padding: 4rem 10rem;
  }
}

@media only screen and (min-width: 64em) {
  .preview-img {
    width: 40%;
  }
}

@media only screen and (min-width: 85.375em) {
  .preview-img {
    width: 47.5%;
  }
}

.preview-box {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 64em) {
  .preview-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.preview-controls {
  background-color: #e5e5e5;
}

@media only screen and (min-width: 64em) {
  .preview-controls {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 3rem;
  }
}

@media only screen and (min-width: 85.375em) {
  .preview-controls {
    padding: 3rem 5rem;
  }
}

.preview-controls-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 2rem 0;
}

.preview-controls-top-heading {
  font-family: "Cinzel", serif;
  font-size: 2.5rem;
  margin: 0 1rem 0 0;
}

@media only screen and (min-width: 36em) {
  .preview-controls-top-heading {
    margin-left: -5rem;
  }
}

@media only screen and (min-width: 48em) {
  .preview-controls-top-heading {
    font-size: 3rem;
    margin-left: -1rem;
  }
}

@media only screen and (min-width: 120em) {
  .preview-controls-top-heading {
    font-size: 3.75rem;
    margin-left: 6rem;
  }
}

.preview-controls-top-heading-span {
  font-size: 2.75rem;
}

@media only screen and (min-width: 48em) {
  .preview-controls-top-heading-span {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 120em) {
  .preview-controls-top-heading-span {
    font-size: 4rem;
  }
}

.preview-controls-bottom {
  padding: 0rem 1rem;
}

@media only screen and (min-width: 36em) {
  .preview-controls-bottom {
    padding: 0rem 1rem;
  }
}

.preview-controls-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 64em) {
  .preview-controls-buttons > * {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 120em) {
  .preview-controls-buttons:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.preview-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
}

@media only screen and (min-width: 36em) {
  .preview-icon-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 64em) {
  .preview-icon-box {
    margin: 0 auto;
    width: 100%;
  }
}

.preview-song-name, .preview-song-time, .preview-icon {
  font-size: 1.25rem;
}

@media only screen and (min-width: 36em) {
  .preview-song-name, .preview-song-time, .preview-icon {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 120em) {
  .preview-song-name, .preview-song-time, .preview-icon {
    font-size: 1.75rem;
  }
}

.preview-icon {
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

@media only screen and (min-width: 64em) {
  .preview-icon {
    margin: 1rem;
  }
}

.preview-icon:hover, .preview-icon:active, .preview-icon:focus {
  color: #ef4d4b;
}

.preview-song-name {
  margin-right: auto;
}

.shows {
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: #eee;
}

@media only screen and (min-width: 36em) {
  .shows {
    padding: 3rem 4.5rem;
  }
}

@media only screen and (min-width: 120em) {
  .shows {
    padding: 4rem 10rem;
  }
}

@media only screen and (min-width: 64em) {
  .shows-box {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

@media only screen and (min-width: 85.375em) {
  .shows-box {
    -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }
}

.shows-wrapper:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 64em) {
  .shows-wrapper:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 120em) {
  .shows-wrapper:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.shows-container {
  position: relative;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.shows-bg-img {
  height: auto;
}

.shows-date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.shows-date-box-date {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.shows-date-box-date-day {
  font-size: 1.75rem;
}

@media only screen and (min-width: 48em) {
  .shows-date-box-date-day {
    font-size: 2rem;
  }
}

.shows-date-box-date-month {
  font-size: 1rem;
}

@media only screen and (min-width: 48em) {
  .shows-date-box-date-month {
    font-size: 1.25rem;
  }
}

.shows-date-box-location-venue {
  font-size: 1.75rem;
}

@media only screen and (min-width: 48em) {
  .shows-date-box-location-venue {
    font-size: 2rem;
  }
}

.shows-date-box-location-city {
  font-size: 1rem;
}

@media only screen and (min-width: 48em) {
  .shows-date-box-location-city {
    font-size: 1.25rem;
  }
}

.shows-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.shows-button-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
