/* --------------- MEDIA QUERY MANAGER ---------------
$breakpoint argument choices:
- mobile-lg (large mobile)
- tab-port (tablet-portrait)
- tab-land (tablet-landscape)
- laptop (standard laptop screen resolution)
- desktop (standard desktop screen resolution)
- desktop-lg (1440p resolution desktop)
- desktop-4k (4k resolution desktop)

** MIN-WIDTH SETTINGS **
- mobile-lg == min-width 550px
- tab-port == min-width 750px
- tab-land == min-width 1000px
- laptop == min-width 1300px
- laptop-lg == min-width 1600px
- desktop == min-width 1900px 118.75
- desktop-lg == min-width 2500px 156.25
- desktop-4k == min-width 3800px 237.5

1em = 16px (16px is the default browser font-size)
Each em amount is the min-width listed above divided 16
For example, for tab-port, 768px / 16px = 48em
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 34.375em) {
  html {
    font-size: 66%;
  }
}

@media only screen and (min-width: 46.875em) {
  html {
    font-size: 69.5%;
  }
}

@media only screen and (min-width: 62.5em) {
  html {
    font-size: 73%;
  }
}

@media only screen and (min-width: 81.25em) {
  html {
    font-size: 76.5%;
  }
}

@media only screen and (min-width: 118.75em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 156.25em) {
  html {
    font-size: 83.5%;
  }
}

@media only screen and (min-width: 237.5em) {
  html {
    font-size: 87%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  line-height: 1.45;
  text-transform: uppercase;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.section-heading,
.music-text-block-heading,
.preview-heading {
  font-family: "Cinzel", serif;
}

.section-heading {
  font-size: 3rem;
  text-align: center;
}

@media only screen and (min-width: 62.5em) {
  .section-heading {
    font-size: 4rem;
  }
}

.preview-heading {
  margin: 1.25rem 0;
  text-align: center;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem 0;
}

.button-dark:link, .button-dark:visited {
  border: 4px solid #21201e;
  color: #21201e;
}

.button-dark:hover, .button-dark:active, .button-dark:focus {
  background-color: #21201e;
  color: #fff;
}

.button-light:link, .button-light:visited {
  border: 4px solid #fff;
  color: #fff;
}

.button-light:hover, .button-light:active, .button-light:focus {
  background-color: #fff;
  color: #21201e;
}

.button-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-box-link:link, .icon-box-link:visited {
  font-size: 2.75rem;
  margin: 0 0.75rem;
  opacity: 0.75;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

@media only screen and (min-width: 34.375em) {
  .icon-box-link:link, .icon-box-link:visited {
    font-size: 3rem;
  }
}

.icon-box-link:hover, .icon-box-link:active, .icon-box-link:focus {
  opacity: 1;
}

.icon-box-link-dark:link, .icon-box-link-dark:visited {
  color: #21201e;
}

.icon-box-link-light:link, .icon-box-link-light:visited {
  color: #fff;
}

.nav {
  font-family: "Cinzel", serif;
  font-size: 2rem;
}

@media only screen and (min-width: 81.25em) {
  .nav {
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 118.75em) {
  .nav {
    font-size: 2.75rem;
  }
}

.nav-link {
  margin-left: 0.5rem;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.footer {
  background-color: #eb4b4c;
  color: #fff;
}

.footer-para {
  margin-top: 1.25rem;
  opacity: 0.75;
  text-align: center;
}

@media only screen and (min-width: 46.875em) {
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer-row-list {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 46.875em) {
  .footer-row-list {
    text-align: left;
  }
}

.footer-row-list-item {
  margin: 1rem 0;
}

.footer-row-list-link:link, .footer-row-list-link:visited {
  color: #fff;
  opacity: 0.75;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.footer-row-list-link:hover, .footer-row-list-link:active, .footer-row-list-link:focus {
  opacity: 1;
}

.footer-row-list-icon {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

.gallery-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (min-width: 62.5em) {
  .gallery-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media only screen and (min-width: 100em) {
  .gallery-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }
}

.gallery-img {
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.gallery-img:hover, .gallery-img:active, .gallery-img:focus {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #21201e;
  font-family: "Cinzel", serif;
  height: 100vh;
  padding: 1.5rem 1.5rem 0 0;
}

@media only screen and (min-width: 81.25em) {
  .header {
    padding: 2.25rem 2.25rem 0 0;
  }
}

.header-block {
  margin-top: 10rem;
  padding-right: 1.5rem;
  text-align: right;
}

@media only screen and (min-width: 46.875em) {
  .header-block {
    margin-top: 12rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .header-block {
    margin-top: 15rem;
  }
}

.header-block-heading {
  font-size: 3rem;
  margin-left: auto;
  width: 65%;
}

@media only screen and (min-width: 34.375em) {
  .header-block-heading {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 46.875em) {
  .header-block-heading {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .header-block-heading {
    font-size: 4.75rem;
    width: 60%;
  }
}

@media only screen and (min-width: 81.25em) {
  .header-block-heading {
    font-size: 4.75rem;
    width: 50%;
  }
}

@media only screen and (min-width: 100em) {
  .header-block-heading {
    font-size: 7rem;
    width: 45%;
  }
}

@media only screen and (min-width: 118.75em) {
  .header-block-heading {
    font-size: 9rem;
    width: 60%;
  }
}

.merch {
  background-color: #141312;
  color: #fff;
}

.merch-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (min-width: 62.5em) {
  .merch-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media only screen and (min-width: 100em) {
  .merch-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.merch-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.merch-block-button-container {
  margin: 2.5rem 0;
}

.merch-block-img {
  border-radius: 10px;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.merch-block-img:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.music {
  background-color: #141312;
  color: #fff;
}

@media only screen and (min-width: 62.5em) {
  .music-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media only screen and (min-width: 81.25em) {
  .music-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

@media only screen and (min-width: 100em) {
  .music-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

.music-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.music-block-icon {
  color: #fff;
}

.music-block-img {
  border-radius: 10px;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.music-block-img:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.music-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.music-text-block-heading {
  font-size: 2.25rem;
  margin-top: 0.75rem;
  text-align: center;
}

@media only screen and (min-width: 81.25em) {
  .music-text-block-heading {
    font-size: 3rem;
  }
}

.preview {
  background-color: #eb4b4c;
  color: #fff;
}

@media only screen and (min-width: 34.375em) {
  .preview-button {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.preview-video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 34.375em) {
  .preview-video-container {
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.video {
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.video:hover, .video:active, .video:focus {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.shows-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media only screen and (min-width: 62.5em) {
  .shows-block {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

@media only screen and (min-width: 100em) {
  .shows-block {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }
}

.shows-block-container {
  position: relative;
  margin-bottom: 7rem;
  margin-top: 2rem;
}

.shows-block-info {
  margin-right: 1.5rem;
}

.shows-block-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-left: 1.5rem;
}

.shows-block-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 1.5rem 0;
}

.shows-block-img {
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.shows-block-img:hover, .shows-block-img:active, .shows-block-img:focus {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.section {
  padding: 2.5rem 6.5rem;
}
/*# sourceMappingURL=main.css.map */