.albums {
    @include smallMobileSectionPadding;

    background-color: $color-black;

    // Stylings for the entire album cover group
    &-wrapper {
        @include respond(tab-land) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    // Apply margin bottom to all but last album box on mobile > tablet view
    &-box:not(:last-child) {
        margin-bottom: $size-x-large-1;
    }

    // Stylings for the album cover itself
    &-cover {
        border-radius: $border-radius-medium;
        transform: scale(0.95);
    }

    // Stylings for text/icon box
    &-text-box {
        display: flex;
        flex-direction: column;

        // Stylings for album name
        &-heading {
            color: $color-dark-bg-grey;
            font-family: $text-brand;
            font-size: $size-x-small-1;
            margin: $size-tiny-1 0;
            text-align: $text-center;
        }
    }

    // Stylings for album icon box
    &-icon-box {
        @include iconAlignment;

        color: $color-dark-bg-grey;
        transform: translateX(-15px);
    }
}