.header {

    // Stylings for background image
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    color: $color-tertiary-extra-dark;
    height: 100vh;
    position: relative;

    // Stylings for text/image box
    &-box {
        // position: absolute;
        // right: 0;
        // top: 15%;

        // Styling for AngelMaker Logo
        &-img {
            margin-left: $size-small-1;
            transform: scale(.80);
        }

        // Stylings for main heading
        &-heading {
            font-family: $text-brand;
            font-size: $size-small-4;
        }

        // Stylings for Text Box
        &-text-box {
            float: right;
            padding: 0 $size-x-small-1;
            text-align: right;
            width: $wrapper-medium;
        }
    }
}