.merch {
	@include smallMobileSectionPadding;

	background: $color-black;

	&-gallery {
		@include imageGrid;
		grid-gap: 2.5rem;

		@include respond(laptop) {
			grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
		}

		&-img {
			margin: 0 auto;

			@include respond(laptop) {
				transition: $standard-transition;

				&:hover {
					transform: scale(1.02);
				}
			}
		}

		&-button {
			@include flexboxCenter;

			&-end {
				margin: 5rem 0 0 0;
			}
		}
	}
}