.merch {
  @include coloredSection(darken(color(sec), 5%));

  &-container {
    @include responsiveGrid(1rem, (25rem, 1fr));

    @include respond(tab-land) {
      @include responsiveGrid(1rem, (30rem, 1fr));
    }

    @include respond(laptop-lg) {
      @include responsiveGrid(1.5rem, (35rem, 1fr));
    }
  }

  &-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-button-container {
      margin: 2.5rem 0;
    }

    &-img {
      border-radius: $br-xlg;
      transform: scale(0.98);
      transition: $transit-standard;

      &:hover {
        transform: scale(1);
      }
    }
  }
}