.shows {
    @include smallMobileSectionPadding;
    background-color: $color-extra-light-grey-2;

    &-wrapper:not(:last-child) {
        margin-bottom: $size-medium-1;
    }

    &-container {
        position: relative;
        box-shadow: $box-shadow-light-1;
    }

    &-bg-img {
        border-radius: $border-radius-medium;
    }

    &-date-box {
        display: flex;
        align-items: center;

        position: absolute;
        bottom: 0;
        left: 0;

        color: $color-white;

        &-date {
            margin-left: $size-tiny-1;
            margin-right: $size-tiny-3;

            &-day {
                font-size: $size-tiny-4;
            }

            &-month {
                font-size: $size-tiny-1;
            }
        }

        &-location {

            &-venue {
                font-size: 1.75rem;
            }

            &-city {
                font-size: 1rem;
            }
        }
    }

    &-button {
       @include flexboxCenter;
       margin-top: 1rem;
    }
}