.button {
  font-family: $txt-main;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  transition: $transit-standard;

  &-container {
    @include flexCenter;
    margin: 1.5rem 0;
  }

  &-dark:link,
  &-dark:visited {
    border: 4px solid color(sec);
    color: color(sec);
  }

  &-dark:hover,
  &-dark:active,
  &-dark:focus {
    background-color: color(sec);
    color: $clr-wht;
  }

  &-light:link,
  &-light:visited {
    border: 4px solid $clr-wht;
    color: $clr-wht;
  }

  &-light:hover,
  &-light:active,
  &-light:focus {
    background-color: $clr-wht;
    color: color(sec);
  }

  &-center {
    display: flex;
    justify-content: center;
  }
}