// Overall nav bar stylings
.nav {
  font-family: $txt-brand;
  font-size: size(x-sml);

  @include respond(laptop) {
    font-size: 2.25rem;
  }

  @include respond(desktop) {
    font-size: 2.75rem;
  }

  // Spacing out nav links
  &-link {
    margin-left: 0.5rem;
    transition: $transit-standard;
  }
}