@charset "utf-8";

html {
	@include htmlBoxReset;

	font-size: $fnt-sz-def;
	scroll-behavior: smooth;

	@include respond(mobile-lg) {
		font-size: $fnt-sz-mbl-lg;
	}

	@include respond(tab-port) {
		font-size: $fnt-sz-tab-port;
	}
	
	@include respond(tab-land) {
		font-size: $fnt-sz-tab-land;
	}
	
	@include respond(laptop) {
		font-size: $fnt-sz-laptop;
	}
	
	@include respond(desktop) {
		font-size: $fnt-sz-desktop;
	}
	
	@include respond(desktop-lg) {
		font-size: $fnt-sz-desktop-lg;
	}
	
	@include respond(desktop-4k) {
		font-size: $fnt-sz-desktop-4k;
	}
}

*,
*::before,
*::after {
	@include universalBoxReset;
}

body {
	@include defaultFontStyles;

	text-transform: uppercase;
}

img {
	@include responsiveImages;
}

a:link,
a:visited {
	text-decoration: $txt-no-dec;
}

ul,
ol {
	list-style: $list-no-dec;
}