.section-heading,
.music-text-block-heading,
.preview-heading {
  font-family: $txt-brand;
}
.section-heading {
  font-size: 3rem;
  text-align: center;

  @include respond(tab-land) {
    font-size: 4rem;
  }
}

.preview-heading {
  margin: 1.25rem 0;
  text-align: center;
}